.contact {

    background-color: rgb(8,75,75);
    color:white;
    padding:80px 20px;
    text-align:center;
}

.status {
    margin-top: 15px;
    color: rgb(5, 129, 224);
    font-weight: bold;
    text-align: center;
}




.contact h1 {
    font-size:32px;
    margin-bottom:50px;
}



.contact-container {
    display:flex;
    justify-content:center;
    gap:50px;
    flex-wrap:wrap;

}



.contact-info,
.contact-form {

    width:380px;
    background:rgba(255,255,255,0.08);
    border:1px solid rgba(255,255,255,0.2);
    border-radius:20px;
    padding:35px;
    backdrop-filter:blur(10px);
    transition:0.3s ease;

}





.contact-info:hover,
.contact-form:hover {

    transform:translateY(-8px);
    border-color:rgb(5,129,224);
    box-shadow:
    0 10px 30px rgba(5,129,224,0.3);

}



.contact-info h2 {

    text-align:center;
    color:rgb(5,129,224);
    margin-bottom:30px;
    font-size:25px;

}



.contact-info p {

    margin-top:25px;
    font-size:17px;
    font-weight:bold;

}



.contact-info a {

    display:block;
    margin-top:8px;
    color:white;
    text-decoration:none;
    padding:10px;
    background:rgba(255,255,255,0.05);
    border-radius:10px;

}



.contact-info a:hover {

    color:rgb(5,129,224);
    background:rgba(5,129,224,0.1);

}





.contact-form {

    display:flex;
    flex-direction:column;

}



.contact-form input,
.contact-form textarea {


    width:100%;
    box-sizing:border-box;
    background:rgba(255,255,255,0.1);
    color:white;
    border:1px solid rgba(255,255,255,0.2);
    padding:14px;
    margin-bottom:18px;
    border-radius:12px;
    outline:none;
    font-size:15px;


}



.contact-form input::placeholder,
.contact-form textarea::placeholder {

    color:rgba(255,255,255,0.7);

}



.contact-form input:focus,
.contact-form textarea:focus {

    border-color:rgb(5,129,224);

}





.contact-form button {


    margin-top:10px;
    padding:14px;
    border:none;
    border-radius:12px;
    background:rgb(5,129,224);
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;


}



.contact-form button:hover {
    background:white;
    color:rgb(5,129,224);
}





@media(max-width:768px){


    .contact-info,
    .contact-form{

        width:90%;

    }


}